*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
overflow:hidden;
background:#050505;
cursor:none;
font-family:Arial,sans-serif;
}

#scene{
position:fixed;
inset:0;
}

nav div{
position:fixed;
color:white;
letter-spacing:8px;
font-size:12px;
z-index:20;
}

.tl{top:40px;left:40px;}
.tr{top:40px;right:40px;}
.bl{bottom:40px;left:40px;}
.br{bottom:40px;right:40px;}

#blueprint{
position:fixed;
top:50%;
right:30px;
transform:translateY(-50%);
background:none;
border:1px solid #fff;
padding:12px 20px;
color:white;
z-index:20;
}

.cursor{
width:20px;
height:20px;
border:1px solid #c7ff00;
position:fixed;
pointer-events:none;
z-index:999;
transform:translate(-50%,-50%);
}
